// Edit name of this file,
// from:
// ".env.example"
// to:
// ".env"
// then edit all varibel of environment above, that what you want.

DB_HOST=postgresql_localhostname
DB_NAME=postgresql_database_name
DB_PORT=postgresql_port
DB_USER=postgresql_username
DB_PASS=postgresql_password

JWT_ALG=jwt_algorithm_default_HS256
JWT_KEY=your_jwt_key_named